repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        pass_filenames: false
        args: [--fix, .]
      - id: ruff-format
        pass_filenames: false
        args: [.]

  - repo: https://github.com/DetachHead/basedpyright
    rev: v1.21.0
    hooks:
      - id: basedpyright

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'uv run pytest tests/ -v --tb=short -m "not qt" --disable-pytest-warnings'
        language: system
        pass_filenames: false
        always_run: true
